<h1>Upload#new</h1>
<p>Upload an image of a pole</p>
<div>
   <%= form_with(url: "/upload/create", method: "post") do |f| %>
      <%= f.label :attachment, "Upload an image of a pole" %>
      <%= f.file_field :attachment %>
      <%= f.submit "Upload", class: "btn btn-primary" %>
   <% end %>
</div>
